<div class="rounded border-solid border-2 border-gray-400">
  <a href="#" class="no-underline">
    <div class="table w-full box-border table-fixed py-2.5 px-3.5"> 
      <h4 class="font-bold text-sm table-cell align-middle text-slate-700">xxxxホテルのプランを見る</h4>
    </div>
    <div class="text-right flex justify-between pt-0 px-3.5 pb-2.5">
      <div class="h-11 w-20">
        <img class="m-0" src="https://dummyimage.com/120x60/000/fff" width="120" height="60" alt="楽天トラベル">
      </div>
      <span class="my-auto mx-0 font-bold">最安値 9,000 円～</span>
    </div>
  </a>
</div>
