---
import { Image } from "astro:assets";
const props = Astro.props;
---
<div class="rounded border-solid border-2 border-gray-400">
  <a href={ props.href } class="no-underline" target="_blank" rel="noopener noreferrer nofollow">
    <div class="table w-full box-border table-fixed p-2"> 
      <h4 class="font-bold text-sm table-cell align-middle text-slate-700">{ props.hotelName }のプランを見る</h4>
    </div>
    <div class="grid grid-cols-2 gap-2 p-2">
      <div class="w-20">
        <Image
          class="m-0"
          src={ props.src }
          alt={ props.alt }
          width={ props.width }
          height={ props.height }
        />
      </div>
      { props.price ? <span class="my-auto mx-0 font-bold">最安値 { parseInt(props.price).toLocaleString() } 円～</span> : '' }
    </div>
  </a>
</div>
